h1, h2, h3, h4, h5, h6  {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

body {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

@media (max-width: 768px) {
  body {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  body {
    max-width: 80%;
  }
}

img {
  max-width: 100%;
  height: auto;
}
  
header {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}
nav {
  background-color: #762022;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 2rem;
}

footer {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}
  
form {
  display: flex;
  justify-content: flex-start;
}

form input[type="email"] {
  width: 200px;
}

section {
  margin-bottom: 50px; 
}

#newsletter-form {
  text-align: center;
  margin-top: 1rem;
}



@media screen and (max-width: 400px) {
    header h1 {
      font-size: 1.5rem;
    }
  
    nav {
      display: block;
    }
  
    nav li {
      display: block;
      margin-bottom: 0.5rem;
    }
  
    main {
      padding: 1rem;
    }
  
    .review-card {
      max-width: 100%;
    }
  }


/* Responsive YouTube video */
.video-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* Info.html */
#game-history,
#game-play,
#tips-strategies {
  margin-bottom: 2rem;
}


/* About.html */
#about-site,
#about-author,
#resources,
#honest-statement {
  margin-bottom: 2rem;
}